*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(28, 28, 83);
    
}
.input-field{
    margin-top: 23%;
    background: #fff;
    width:90%;
    max-width: 500px;
    display: flex;
    align-self: center;
    padding: 10px 20px ;
    margin:300px auto;
    border-radius: 10px;


}
.input-field input{
    width: 100%;
    border: none;
    outline: none;
    

}
img{
    width:25px;
    height: 25px;
    
}